@using System.Linq;
@model IEnumerable<Distance_Analyzer.Models.Node>

<div class="btn-group">
    <div class="btn btn-default">@Html.ActionLink("Add Node", "Scrub")</div>
</div>

<table class="table">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Tags)</th>
            <th>@Html.DisplayNameFor(_ => _.FirstOrDefault().Description)</th>
            <th></th>
            @foreach(var supernode in ViewBag.SuperNodes)
            {
                <th>@Html.ActionLink($"{supernode.Description}", "Index", "Home", new { supernode = supernode.id, ViewBag.tags }, null)</th>
            }
        </tr>
    </thead>

    @foreach (var node in Model.Where(_ => !_.Is_Super_Node).OrderBy(_ => _.Description))
    {
        var current_assignment =
            ((IEnumerable<Distance_Analyzer.Models.Node>)ViewBag.SuperNodes)
            .Where(s => node.Tags.Contains((string)s.Description))
            .SingleOrDefault();

        <tr>
            <td>
                @if (node.Is_Super_Node)
                {
                    <span class="label label-success">Super Node</span>
                }
                @foreach (var tag in node.Tags)
                {
                    <span class="label">@Html.ActionLink(tag, "Index", "Home", new { Tags = new[] { tag }, ViewBag.supernode }, null)</span>
                }
            </td>
            <td>@Html.ActionLink(node.Description, "Node", new { node.id })</td>
            <td>                
                @if (!node.Mappings.Any())
                {
                    @using (Html.BeginForm("Process", "Home", new { node.id }, FormMethod.Post))
                    {
                        <span class="label label-danger"><button type="submit" class="btn-link" formtarget="_blank">Unprocessed</button></span>
                    }
                }
            </td>
            @foreach(var super in ViewBag.SuperNodes)
            {
                var entry = node.Mappings.Where(_ => _.To == super.id).SingleOrDefault();

                <td class="@(super.id == current_assignment?.id ? "label-info" : "")">
                    @Html.DisplayFor(_ => entry.Driving_Time)
                </td>
            }
        </tr>
    }

    <tfoot>
        <tr>
            <th colspan="3" class="text-center">Avg Drive (min)</th>
            @foreach(var super in ViewBag.SuperNodes)
            {
                var average =
                    Model
                    .SelectMany(_ => _.Mappings)
                    .Where(_ => _.To == super.id)
                    .Select(_ => (Decimal)_.Driving_Time.TotalMinutes)
                    .Average();

                <th>@Math.Round(average, decimals: 2)</th>
            }
        </tr>
    </tfoot>
</table>

@using (Html.BeginForm("Process_All", "Home", new { take = 10 }, FormMethod.Post))
{
    <button type="submit" class="btn btn-danger">Process Next Batch!</button>
}