@model Distance_Analyzer.Models.Node

@using (Html.BeginForm("New", "Home", FormMethod.Post))
{
    @Html.HiddenFor(_ => _.id)
    @Html.HiddenFor(_ => _.Raw)
    @Html.HiddenFor(_ => _.Latitude)
    @Html.HiddenFor(_ => _.Longitude)

    @Html.LabelFor(_ => _.Description)
    @Html.EditorFor(_ => _.Description)

    @Html.LabelFor(_ => _.Address)
    @Html.EditorFor(_ => _.Address)

    @Html.LabelFor(_ => _.Is_Super_Node)
    @Html.EditorFor(_ => _.Is_Super_Node)


    <button type="submit">Save</button>
}
