@model Distance_Analyzer.Models.Node

<fieldset>
    <legend>@Html.DisplayFor(_ => _.Description)</legend>

    <div>
        @Html.LabelFor(_ => _.Address)
        @Html.DisplayFor(_ => _.Address)
    </div>

    <div>
        @Html.LabelFor(_ => _.Latitude)
        @Html.DisplayFor(_ => _.Latitude)
    </div>
    <div>
        @Html.LabelFor(_ => _.Longitude)
        @Html.DisplayFor(_ => _.Longitude)
    </div>
</fieldset>

<hr />

<h3>Drive Times to Super Nodes</h3>

<table class="table">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(_ => Model.Mappings.FirstOrDefault().To)</th>
            <th>@Html.DisplayNameFor(_ => Model.Mappings.FirstOrDefault().Distance_Meters)</th>
            <th>@Html.DisplayNameFor(_ => Model.Mappings.FirstOrDefault().Driving_Time)</th>
        </tr>
    </thead>

    @foreach (var mapped in Model.Mappings)
    {
        <tr>
            <td>@Html.DisplayFor(_ => mapped.To)</td>
            <td>@Html.DisplayFor(_ => mapped.Distance_Meters)</td>
            <td>@Html.DisplayFor(_ => mapped.Driving_Time)</td>
        </tr>
    }
</table>